.about__container {
  padding: 0 25px 110px 207px;

  background-image: url("../img/year@1x.png");
  background-repeat: no-repeat;
  background-position: left top 4px;
  background-size: 220px 317px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/year@2x.png");
  }
}

.about h2 {
  @include reset;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $extra-text-color;
}

.about p {
  @include reset;
  margin-bottom: 22px;
  display: block;
  display: -webkit-box;

  font-family: $secondary-fonts;
  font-size: 16px;
  line-height: 22px;
  color: $extra-text-color;


  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about__btn {
  margin-top: 17px;
  padding: 13px 50px;

  color: $third-text-color;

  border-color: $extra-bg-color;
}

@media (max-width: 1023px) {
  .about__container {
    padding: 0 25px 83px 210px;

    background-position: left -9px top 1px;
    background-size: 251px 361px;
  }

  .about h2 {
    margin-bottom: 21px;

    font-size: 32px;
  }

  .about p {
    width: 100%;
    margin: 0 0 20px 3px;

    overflow: hidden;
  }

  .about__btn {
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
  .about__container {
    padding: 0 15px 65px;

    background-image: none;
  }

  .about h2 {
    margin-bottom: 20px;

    font-size: 28px;
    line-height: 39px;
  }

  .about p {
    margin: 0 0 41px 2px;

    -webkit-line-clamp: 8;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .about__btn {
    margin-top: 28px;
  }
}
