.social {
  @include reset-list;
}

.social__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;

  svg {
    fill: $fourth-bg-color;
  }

  &:hover svg,
  &:focus svg {
    fill: $extra-bg-color;
  }

  &:active svg {
    opacity: 0.5;
  }
}
