@media (max-width: 767px) {
  .spoiler {
    display: none;
    flex-direction: column;
    margin-top: 31px;

    &--opened {
      display: flex;
    }

    &--nojs {
      display: flex;
    }
  }
}
