// RobotoCondensed
@font-face {
  font-family: "RobotoCondensed";
  src:
    local("RobotoCondensed-Regular"),
    local("Roboto Condensed Regular"),
    url("../fonts/roboto-condensed/roboto-condensed-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed/roboto-condensed-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src:
    local("RobotoCondensed-Italic"),
    local("Roboto Condensed Italic"),
    url("../fonts/roboto-condensed/roboto-condensed-italic.woff2") format("woff2"),
    url("../fonts/roboto-condensed/roboto-condensed-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src:
    local("RobotoCondensed-Light"),
    local("Roboto Condensed Light"),
    url("../fonts/roboto-condensed/roboto-condensed-light.woff2") format("woff2"),
    url("../fonts/roboto-condensed/roboto-condensed-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src:
    local("RobotoCondensed-LightItalic"),
    local("Roboto Condensed Light Italic"),
    url("../fonts/roboto-condensed/roboto-condensed-light-italic.woff2") format("woff2"),
    url("../fonts/roboto-condensed/roboto-condensed-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src:
    local("RobotoCondensed-Bold"),
    local("Roboto Condensed Bold"),
    url("../fonts/roboto-condensed/roboto-condensed-bold.woff2") format("woff2"),
    url("../fonts/roboto-condensed/roboto-condensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src:
    local("RobotoCondensed-BoldItalic"),
    local("Roboto Condensed Bold Italic"),
    url("../fonts/roboto-condensed/roboto-condensed-bold-italic.woff2") format("woff2"),
    url("../fonts/roboto-condensed/roboto-condensed-bold-italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// PTMono
@font-face {
  font-family: "PTMono";
  src:
    local("PTMono-Regular"),
    local("PTMono Regular"),
    url("../fonts/pt-mono/ptmono-regular.woff2") format("woff2"),
    url("../fonts/pt-mono/ptmono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
