body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $main-fonts;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  color: $main-text-color;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: $main-text-color;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
}

// Для планшетов
@media (max-width: 1023px) {
  .container {
    max-width: 820px;
  }
}

// для мобильных
@media (max-width: 767px) {
  .container {
    max-width: 310px;
  }
}
