html {
  height: 100%;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: inherit;
  margin: 0;
  padding: 0;

  font-family: $main-fonts;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  color: $main-text-color;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: $main-text-color;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 25px;
}

.block-title {
  @include reset;

  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $extra-text-color;
}

// Для планшетов
@media (max-width: 1023px) {
  .container {
    max-width: 870px;
  }

  .block-title {
    font-size: 32px;
    line-height: 45px;
  }
}

// для мобильных
@media (max-width: 767px) {
  .container {
    max-width: 420px;
    padding: 0 15px;
  }

  .block-title {
    font-size: 28px;
    line-height: 39px;
  }
}
