// Цвета шаблона
$main-text-color: #ffffff;
$secondary-text-color: #1b2d37;
$third-text-color: #00b2ff;
$fourth-text-color: #788891;
$fifth-text-color: #203c42;
$extra-text-color: #666666;

$main-bg-color: #1b2d37;
$secondary-bg-color: #ffffff;
$third-bg-color: #626962;
$fourth-bg-color: #cdcdcd;
$fifth-bg-color: #c4c4c4;
$extra-bg-color: #00b2ff;

// Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Шрифты
$main-fonts: "RobotoCondensed", "Arial", "sans-serif";
$secondary-fonts: "PTMono", "Courier New", "monospace";
$extra-fonts: "Roboto", "Arial", "sans-serif";
$main-font-size: 16px;
$main-font-weight: 400;
